*{
    padding: 0;
    margin: 0

}

:root{
    --primary-color:#9ACD32;
    --secondary-color:#F0E68C;
}

body {
    background-color: (--primary-color);
    
}

html{
    font-size: 75.5%;
}

.header{
    
    
    color:black;
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}


.img{
    padding-left: 350px;
    margin-top: 50px;
}

.bookDes{
    background-color: white;
    opacity: .8;
    border: solid;
    border-radius: 10px;

}

.titleHeader{
    background-color: darksalmon;
    margin: 100px;
    text-align: center;
    opacity: .8;
    border: solid;
    border-radius: 10px;

}

// .row2 h2{
//     font-size: 3rem;
//     margin-top: 20px;
//     margin-bottom: 15px;
// }

// .row2 img{
//     margin: 30px;
//     width: 250px;
// } 



