// .videoPage {
//     background-image: url("../../assets/videoPage.jpg");
//     background-color: green;
// }

.videoBtn{
    background-color: orange;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: auto;

}