.homeTitle {
    color: white;
    font-size: 100px;
    text-align: center;
    background-color: indigo;
    opacity: .8;
    border-radius: 100em;
    border: solid;
}

.description {
    font-size: 30px;
    text-align: center;
    background-color: orange;
    opacity: .8;
    border: solid;
    border-radius: 50px;
}