.art{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: flex-start;
    justify-content: center;
    height: auto;
}

.artTitle{
    grid-column: 1;
    grid-row: 2;
    margin-left: 500px;
    margin-right: auto;
    padding: 0;
    

}


.artArtist{
    grid-column: 1;
    grid-row: 2;
    margin-left: 500px;
    margin-right: auto;
    margin-top: 5.5rem;
    padding: 0;
    

}

.artBtn{
    grid-column: 1;
    justify-content: center;
    background-color: orange;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
    border-radius: 10px;
}

.image{
    margin-left: 500px;
    grid-column: 1;
    grid-row: 3;
    padding: 5%;
}